<div  class="container">
    
    <h1 class="main-heading">Application For Employment</h1>
<br>
<br>
<button routerLink="/pf-form1"  type="button" class="btn btn-secondary">Terms and Conditions</button>
<button routerLink="/pf-form2" type="button" class="btn btn-secondary">DECLARATION FORM</button>
<button routerLink="/epf-form" type="button" class="btn btn-secondary">PART - 5 (EPF)</button>
<button routerLink="/eps-nomination"  type="button" class="btn btn-secondary">EPS NOMINATION FORM 2</button>
<button routerLink="/first"  type="button" class="btn btn-secondary">Edit</button>
</div>

<div class="a">
    <div class="pad">
        <h3 class="calign">NCR CORPORATION INDIA PVT. LTD</h3>
        <h4 class="ralign">Employee ID<input type="text" class="dotted" ng-required="expression"></h4>
        <h5 class="lalign">Note:<u>WHOM YOU CAN NOMINATE</u></h5>
        <h5>(A) UNDER THE EMPLOYEE'S PROVIDENT FUND SCHEME</h5>
        <span class="brmedium"></span>
        <div class="listing">
            <ol>
                
                <li><p class="pgraf">  A member of Employees' Provident Fund who is married and / or his father/ mother is/are dependent upon<br> him can nominate only one or more persons belonging to his family as defined below: </p></li>
                <ol type="a">
                    <div>
                        <li><p class="pgraf">  In the case of a male member, his wife, his children, his dependent parents and his deceased son's widow and children.</p></li>
                        <li><p class="pgraf">
                          In  the  case  of  a  female  member,  her  husband,  her  children,  her  dependent  parents,  her  husband's  dependent parents, her deceased son's widow and children.</p>
                        </li> 
                    </div>
                </ol>
                <li><p class="pgraf">If  the  member  has  got  no  family,  or  is  a  bachelor  nomination  may  be  in  favour  of  any  person  or  persons,whether related to him or not or even to an institution.  If the member subsequently acquires a family, such nomination shall forthwith become invalid and the member should make a fresh nomination in favour of one or more persons belonging to his family<p></li>
            </ol>
        </div>
        <h5>(B) UNDER THE FAMILY PENSION SCHEME:</h5>
        <div class="listing">
            <ol>
                
                <li><p class="pgraf"> On the death of a member of the Family Pension Scheme, his family will be entitled to the benefits under the Family Pension Scheme.  The family is defined as under:- </p></li>
                <ol type="a">
                    <div>
                        <li>
                            <p class="pgraf">  wife in the case of a male member </p>
                        </li>
                        <li><p class="pgraf">
                            husband in the case of a female member; and .</p>
                        </li> 
                        <li><p class="pgraf">
                            minor sons and unmarried daughters..</p>
                            <p class="subpgraf">Explanation:  The  expression  "sons"  and  "daughters"  shall  include  children  adopted  legally  before  death  in  service. </p>
                        </li> 
                    </div>
                </ol>
                <li><p class="pgraf">if the member has got no family, the monthly family pension, on the death of the member, will not be paid.  However, Life  Assurance  Benefit  will  be  paid  to  the  person  or  persons  entitled  to  receive  his  provident  fund  accumulations. <p></li>
            </ol>
            
        </div>
    </div>
</div>