<div  class="container">
    
  <h1 class="main-heading">Application For Employment</h1>
<br>
<br>
<button routerLink="/pf-form1"  type="button" class="btn btn-secondary">Terms and Conditions</button>
<button routerLink="/pf-form2" type="button" class="btn btn-secondary">DECLARATION FORM</button>
<button routerLink="/epf-form" type="button" class="btn btn-secondary">PART - 5 (EPF)</button>
<button routerLink="/eps-nomination"  type="button" class="btn btn-secondary">EPS NOMINATION FORM 2</button>
<button routerLink="/first"  type="button" class="btn btn-secondary">Edit</button>
</div>
<div class="a">
    <div class="pad">
        <h3 class="calign">NCR CORPORATION INDIA PVT. LTD</h3>
        <h4 class="ralign">Employee ID<input type="text" class="dotted" ng-required="expression"></h4>
        <h5 class="calign">EPS NOMINATION FORM - FORM 2</h5>
        <span class="brmedium"></span>
            <span class="brmedium"></span>
            <!-- <h3 class="calign">REQUEST FORM</h3> -->
            <span class="brmedium"></span>
            <form>
            <p> <label for="name" class="ulabel">1. Name (in Block letters) :</label>
                 <input type="text" class="dotted" name="emp_name" id="emp_name" ng-required="expression">  
            </p>

            <span class="brmedium"></span>

            <p><label for="name" class="ulabel">2. Father's/Husband's Name(In Block Letters) :</label>
                <input type="text" class="dotted" name="father_name" id="father_name" ng-required="expression"> 
            </p>

            <span class="brmedium"></span>

            <p> <label for="dbirth" class="ulabel">3. Date of birth:</label>
                <input type="date" class="dotted" name="Dob" id="Dob"  ng-required="expression">  
            </p>

            <span class="brmedium"></span>
            
            <p> <label for="Marital Status" class="ulabel">4. Marital Status:</label>
                <input type="radio" name="status" value="unmarried" checked> Unmarried
                <input type="radio" name="status" value="married"> Married
            </p>


            <span class="brmedium"></span>

            <p> <label for="joindate" class="ulabel">5. Date of Joining:</label>
                <input type="date" class="dotted" name="joinig_date" id="joinig_date" ng-required="expression">  
            </p>

            <span class="brmedium"></span>

            <p> <label for="Eps_number" class="ulabel">6.EPS Number:</label>
                <input type="text" class="dotted" name="Eps_number" id="Eps_number" ng-required="expression">  
            </p>

            <span class="brmedium"></span>

            <p> <label for="p_address" class="ulabel"> 7. Permanent Address :</label>
            <input type="text" class="dotted" ng-required="expression" placeholder="Address">
            </p> 
            <span class="brmedium"></span>

            <h5 class="calign">PART - B (EPS)(Para 18)</h5>
            <p class="psection">I hereby furnish below particulars of the members of my family who would be eligible to receive widow/children pension in the event of my death.</p>
            <span class="brmedium"></span>
      
            <table class="nominee_details">
              <tr>
                <th>Sl. No </th>
                <th>Name of the  Family Member</th> 
                <th>Address</th>
                <th>Date of Birth </th>
                <th>Relationship with  the member</th>
              </tr><tr>
                  <td>Jill</td>
                  <td>Smith</td>
                  <td>50</td>
                  <td>94</td>
                  <td>95</td>
                </tr>
                <tr>
                  <td>Eve</td>
                  <td>Jackson</td>
                  <td>94</td>
                  <td>94</td>
                  <td>95</td>
                </tr>
                <tr>
                  <td>John</td>
                  <td>Doe</td>
                  <td>80</td>
                  <td>94</td>
                  <td>95</td>
                </tr>
                <tr>
                    <td>John</td>
                    <td>Doe</td>
                    <td>80</td>
                    <td>94</td>
                    <td>95</td>
                  </tr>
              </table>
              <br>
           
                  
              <span class="brmedium"></span>
      
                <p class="psection">** Certified that I have no family, as defined in para 2(vii) of Employees’ Pension Scheme, 1995 and should I acquire a family hereafter I shall furnish particulars thereon in the above form. <p>
             
                <span class="brmedium"></span>
 
                <p class="psection">I hereby nominate the following person for receiving the monthly widow pension (admissible under para 16 2(a)(i) and (ii) in the event of my death without leaving any eligible family member for receiving Pension. </p>
                <span class="brmedium"></span>

                <table class="nominee_details">
                  <tr>
                    <th>Sl. No </th>
                    <th>Name of the  Family Member</th> 
                    <th>Address</th>
                    <th>Date of Birth </th>
                    <th>Relationship with  the member</th>
                  </tr><tr>
                      <td>Jill</td>
                      <td>Smith</td>
                      <td>50</td>
                      <td>94</td>
                      <td>95</td>
                    </tr>
                    <tr>
                      <td>Eve</td>
                      <td>Jackson</td>
                      <td>94</td>
                      <td>94</td>
                      <td>95</td>
                    </tr>
                    <tr>
                      <td>John</td>
                      <td>Doe</td>
                      <td>80</td>
                      <td>94</td>
                      <td>95</td>
                    </tr>
                    <tr>
                        <td>John</td>
                        <td>Doe</td>
                        <td>80</td>
                        <td>94</td>
                        <td>95</td>
                      </tr>
                  </table>
                    <br>

                    <div class="none">
                        <p class="psection"><label for="Date">Date :</label> 
                            <input type="text" class="dotted" name="DAte" id="DAte" ng-required="expression">
                        </p>
                   </div>

               <div class="none">
                    <p class="psection"><label for="place">Place :</label>
                        <input type="text" class="dotted" name="place" id="place" ng-required="expression">
                    </p>
               </div>        
                <div class="none">
                <p class="ralign"> Signature of the subsciber</p>
                </div>    
                <span class="brmedium"></span> 
                
                <div class="ralign">
                    <input type="file" accept="image/*" ng-required="expression">
                    </div>
                    <span class="brmedium"></span>

               
               <br>
               <div class="lalign">
                <p class="psection">**Strike out whichever is not applicable. </p>
            </div>
      
                
            <h5 class="calign">CERTIFICATE BY EMPLOYER </h5>

            <p class="psection"> Certified    that    the    above    declaration    and    nomination    has    been    signed/thumb    impressed    before    me    by    Shri/Smt./Kum.<input type="text" class="dotted" name="dec_user" id="dec_user" ng-required="expression"> employed  in  my  establishment  after  he/she  has  read the entries/entries have been read over to him/her by me and got confirmed by him/her.  </p>

            <div class="none">
                <p class="psection"><label for="place">Place :</label>
                    <input type="text" class="dotted" name="place" id="place" ng-required="expression">
                </p>
           </div> 

           <div class="none">
            <p class="ralign"> Signature of the subsciber</p>
            </div>    
            <span class="brmedium"></span> 
            
            <div class="ralign">
                <input type="file" accept="image/*" ng-required="expression">
                </div>
                <span class="brmedium"></span>



                <br>
                </form>
            </div>
            </div>

