<div  class="container" >
        
    <h1 class="main-heading">Application For Employment</h1>
<br>
<br>

<button routerLink="/pf-form1"  type="button" class="btn btn-secondary">Terms and Conditions</button>
<button routerLink="/pf-form2" type="button" class="btn btn-secondary">DECLARATION FORM</button>
<button routerLink="/epf-form" type="button" class="btn btn-secondary">PART - 5 (EPF)</button>
<button routerLink="/eps-nomination"  type="button" class="btn btn-secondary">EPS NOMINATION FORM 2</button>

</div>