<div class="a">
    <div class="pad">
      <h2 class="calign">Gratuity Form</h2>
      <!-- <h3 class="calign">FORM OF NOMINATION</h3>
      <h3 class="calign">EMPLOYEE GROUP GRATUITY FUND</h3> -->
      <span class="brmedium"></span>
      <!-- <h3 class="calign">REQUEST FORM</h3> -->
      <span class="brmedium"></span>
      <form>
        <p> 1. Name :   <input type="text" [(ngModel)]="nominations[1].name"  #name="ngModel" placeholder="Enter Name" name="name" required>
    
          <input type="text" class="dotted" ng-required="expression">  </p>
        <p>FATHER'S/HUSBAND'S NAME(IN BLOCK LETTERS) : <input type="text" [(ngModel)]="nominations[1].father_name"  #fname="ngModel" placeholder="Father's/Husband Name" name="fname" required>
        </p>
        <span class="brmedium"></span>
        2. Sex : <input type="text" value="Male">
            <!-- <input type="radio" name="gender" value="male" checked> Male
            <input type="radio" name="gender" value="female"> Female
            <input type="radio" name="gender" value="other"> Other -->
             <!-- <input type="text" ng-required="expression"> -->
        <span class="brmedium"></span>

        3. Emp. No <input type="text" [(ngModel)]="nominations[1].emp_no"  #emp_id="ngModel" placeholder="Enter Employee No." name="emp_id" required>
        
          <span class="brmedium"></span>

        4. Religion  <input type="text" [(ngModel)]="nominations[1].religion"  #religion="ngModel" placeholder="Enter Employee No." name="religion" required>
        
        <span class="brmedium"></span>

        5. Marital Status  <input type="text"  name="mar_status" [(ngModel)]="nominations[1].marital_status"  #mar_status="ngModel" required>
      
        <!-- <input type="radio" name="status" value="unmarried" checked> Unmarried
        <input type="radio" name="status" value="married"> Married
        <input type="radio" name="status" value="widow"> Widow or Widower -->
        <span class="brmedium"></span>

        6. Date of birth :
        <input type="text" name="dob" [(ngModel)]="nominations[1].dob"  #dob="ngModel" required> 
            
        <span class="brmedium"></span>

        7. Permanent Address :
        <input type="text" [(ngModel)]="nominations[1].paddress"  #address="ngModel" placeholder="Enter Address" name="address" required>
      
        <span class="brmedium"></span>
        I hereby nominate the person(s): cancel the nomination made by me previously and nominate the person(s) mentioned below
        to receive the Amount of Gratuity in the event of my death before that amount becomes payable, or having become payable,
        has not been paid, and direct that the amount shall be distributed among the said person(s) in the manner shown against
        their names:
        <span class="brmedium"></span>
  
        <table>
            <tr>
              <th>Name of nominee or nominees (1)</th>
              <th>Address of nominee or nominees</th>
              <th>Nominee's relationship with the employee (2)</th> 
              <th>Age of Nominees (3)</th>
              <th>Amount of Gratuity to be paid in each Nominee (4)</th>
            </tr>
            <tr>
              <td><input style="border-bottom: 0ch; text-align: center;width: 5ch;" type="text" name="nominee_name" id ="nominee_name" #nominee_name="ngModel" [(ngModel)]="nominations[1].n_name" required>
              </td>
              <td><input style="border-bottom: 0ch; text-align: center;width: 5ch;" type="text"  name="n_address" id ="n_address" #Address="ngModel" [(ngModel)]="nominations[1].n_address" required>
              </td>
              <td><input style="border-bottom: 0ch; text-align: center;width: 5ch;" type="text" name="n_relation" id ="n_relation" #Address="ngModel" [(ngModel)]="nominations[1].n_relation" required>
              </td>
              <td>
              <input type="text" style="border-bottom: 0ch; text-align: center;width: 9ch;" name="dob" id ="dob" #dob="ngModel" [(ngModel)]="nominations[2].n_dob" required>
              </td>
              <td><input type="text" style="border-bottom: 0ch; text-align: center;width: 5ch;" name="n_amount" id ="n_amount" #Address="ngModel" [(ngModel)]="nominations[1].n_amount" required>
              </td>
              
            </tr>
            
          </table>
          <br>
     
            
        <span class="brmedium"></span>

        *1.  Certified that I have no family as defined in Section 2 (h)
             of the Payement of Gratuity Act, 1972 and should I acquire a family hereafter, the above nominations should be deemed as cancelled.
        
            <span class="brmedium"></span>
        *2.  Certified that my father/mother/sister(s)/minor brother(s) is/are dependent upon me.
            <span class="brmedium"></span>

        *3. I have excluded my husband from my family by a notice dated <input type="text" ng-required="expression">  to the controlling authority in terms of the proviso to
        Section 2(h) of the Payment of Gratuity Act, 1972.
            <span class="brmedium"></span>

        *3. I have excluded my husband from my family by a notice dated <input type="text" ng-required="expression">  to the controlling authority in terms of the proviso to
        <span class="brmedium"></span>
        
        Dated this <input type="text" ng-required="expression"> day of <input type="text" ng-required="expression">200<input type="text" ng-required="expression">at<input type="text" ng-required="expression">
        <span class="brmedium"></span>
        Two Witnesses to signature :
        <span class="brmedium"></span>
        1.  <input type="text" ng-required="expression"> 
        <span class="brmedium"></span>
        2.   <input type="text" ng-required="expression"> 
        <span class="brmedium"></span>

        <span class="brmedium"></span>

        <div class="none">
        Employee Signature:
        </div>    
        <span class="brmedium"></span> 

        <div class="ab">
        <input type="file" accept="image/*" ng-required="expression">
        </div>
        
        <span class="brmedium"></span>
        Certified that the above nomination has been signed by
        <span class="brmedium"></span>
        Shri/Smt <input type="text" ng-required="expression">and the same have been verified and recorded in this establishment.
        <span class="brmedium"></span>

        Date: <input type="date"> 
        <div class="ab">
        For <input type="file" accept="image/*" ng-required="expression">
        </div>
        <span class="brmedium"></span>
        <div class="bc">
            Signature of the Employer<br>
            NCR Corporation India Pvd Ltd
        </div>
        
        <span class="brmedium"></span>
        <br>
        <br>

        <div class="aa">
        NCR Confidential
        </div>
      </form>
    </div>
  </div>