<div class="a">
    <div class="pad">
      <br>
      <div style="text-align: center;">
        <H4><u><b> GRATUITY FORM </b></u></H4>  
    </div>
    <br>
      <!-- <h3 class="calign">FORM OF NOMINATION</h3>
      <h3 class="calign">EMPLOYEE GROUP GRATUITY FUND</h3> -->
      <span class="brmedium"></span>
      <!-- <h3 class="calign">REQUEST FORM</h3> -->
      <span class="brmedium"></span>
      <form>
        <p> 1. Name :   <input type="text" class="dotted" ng-required="expression">  </p>
        <p>FATHER'S/HUSBAND'S NAME(IN BLOCK LETTERS) :  <input type="text" class="dotted" ng-required="expression">  </p>
        <span class="brmedium"></span>
        2. Sex : 
            <input type="radio" name="gender" value="male" checked> Male
            <input type="radio" name="gender" value="female"> Female
            <input type="radio" name="gender" value="other"> Other
             <!-- <input type="text" ng-required="expression"> -->
        <span class="brmedium"></span>

        3. Emp. No <input type="text" ng-required="expression">
          <span class="brmedium"></span>

        4. Religion <input type="text" ng-required="expression"> 
        <span class="brmedium"></span>

        5. Marital Status : <input type="radio" name="status" value="unmarried" checked> Unmarried
        <input type="radio" name="status" value="married"> Married
        <input type="radio" name="status" value="widow"> Widow or Widower
        <span class="brmedium"></span>

        6. Date of birth :
        <input type="date" ng-required="expression">
        <span class="brmedium"></span>

        7. Permanent Address :
        <input type="text" class="dotted" ng-required="expression"> 
        <span class="brmedium"></span>
        I hereby nominate the person(s): cancel the nominations made by me previously and nominate the person(s) mentioned below
        to receive the Amount of Gratuity in the event of my death before that amount becomes payable, or having become payable,
        has not been paid, and direct that the amount shall be distributed among the said person(s) in the manner shown against
        their names:
        <span class="brmedium"></span>
  
        <table>
            <tr>
              <th>Name and Address of nominee or nominees (1)</th>
              <th>Nominee's relationship with the employee (2)</th> 
              <th>Age of Nominees (3)</th>
              <th>Amount of Gratuity to be paid in each Nominee (4)</th>
            </tr>
            <tr>
              <td>Jill</td>
              <td>Smith</td>
              <td>50</td>
              <td>94</td>
            </tr>
            <tr>
              <td>Eve</td>
              <td>Jackson</td>
              <td>94</td>
              <td>94</td>
            </tr>
            <tr>
              <td>John</td>
              <td>Doe</td>
              <td>80</td>
              <td>94</td>
            </tr>
            <tr>
                <td>John</td>
                <td>Doe</td>
                <td>80</td>
                <td>94</td>
              </tr>
          </table>
          <br>
     
            
        <span class="brmedium"></span>

        *1.  Certified that I have no family as defined in Section 2 (h)
             of the Payement of Gratuity Act, 1972 and should I acquire a family hereafter, the above nominations should be deemed as cancelled.
        
            <span class="brmedium"></span>
        *2.  Certified that my father/mother/sister(s)/minor brother(s) is/are dependent upon me.
            <span class="brmedium"></span>

        *3. I have excluded my husband from my family by a notice dated <input type="text" ng-required="expression">  to the controlling authority in terms of the Proviso to
        Section 2(h) of the Payment of Gratuity Act, 1972.
            <span class="brmedium"></span>
        
        Dated this <input type="text" ng-required="expression"> day of <input type="text" ng-required="expression">200<input type="text" ng-required="expression">at<input type="text" ng-required="expression">
        <span class="brmedium"></span>
        Two Witnesses to signature :
        <span class="brmedium"></span>
        1.  <input type="text" ng-required="expression"> 
        <span class="brmedium"></span>
        2.   <input type="text" ng-required="expression"> 
        <span class="brmedium"></span>

        <span class="brmedium"></span>

        <div class="ab">
          <input type="text">
        </div>

        <br>

        <div class="none">
        Employee Signature:
        </div>    
        <span class="brmedium"></span> 

        
        
        <span class="brm"></span>
        Certified that the above nomination has been signed by
        <span class="brm"></span>
        Shri/Smt <input type="text" ng-required="expression">and the same have been verified and recorded in this establishment.
        <span class="brm"></span>

        <br>
        Date: <input type="date"> 

        <div class="ab">
        For <input type="text" >
        </div>
        <span class="brmedium"></span>
        <div class="bc">
            Signature of the Employer<br>
            NCR Corporation India Pvd Ltd
        </div>
        
        <span class="brmedium"></span>
        <br>
        <br>
        
        <div class="row">
          <div class="col-6 text-left">
              <div class="previous">
                <a 
                routerLink="/container" type="submit" class="btn btn-success">back
                    <span class=""></span>
                  </a>
  
              </div>
          </div>
          <div class="col-6 text-right">
              <div class="next">
                <button class="btn btn-success">Submit
                      <span class=""></span>
                  </button>
              </div>
          </div>
      </div>

        <div class="aa">
        NCR Confidential
        </div>
      </form>
    </div>
  </div>