<header class="main-header">
    <div class="logo-container">
        <img src="../assets/ncr-logo.jpeg" alt="NCR Logo" class="logo" >
    </div>
    <!-- <app-form-tabs *ngIf="showUserProfile()"></app-form-tabs> -->
        
</header>
<!-- <nav class="user-profile-nav" *ngIf="showUserProfile()">
    <ul class="user-profile-menu">
        <li class="user-profile-menu-item"><a href="#">Onboading Process</a></li>
        <li class="user-profile-menu-item"><a href="#">Offboading Process</a></li>
        <li class="user-profile-menu-item"><a href="#">Logout</a></li>
    </ul>
</nav> -->