<div class="main-container">

  <div style="text-align: center;">
      Experience a new world of interation
       <h3>FORM OF NOMINATION</h3>
  <span style="display: block; margin-bottom: 1em; "></span>
  <h3>EMPLOYEES GROUP GRATUITY FORM</h3>
  <hr>
  (Name of Fund)
 </div>
 
  <form method="POST" action="" class="form-container">
    <label for="name">First Name</label>
    <input type="text" [value]="nominations[1].name" name="name" required>

    <label for="fname">FATHER'S/HUSBAND'S NAME(IN BLOCK LETTERS)</label>
    <input type="text"  name="fname" [value]="nominations[1].father_name" required>
      
    <label for="gender">Gender</label>
    <input type="text" [value]="nominations[0].gender" name="gender" required>
    <!---<div class="error-msg" *ngIf="gender.touched && !gender.valid">*Field is Required</div>
    -->
    
    
    <label for="emp_id">Employee No.</label>
    <input type="text" [value]="nominations[0].emp_no"  name="emp_id" required>
    <!---
    <div class="error-msg" *ngIf="emp_id.touched && !emp_id.valid">*Field is Required</div>
    -->
    <label for="religion">Religion</label>
    <input type="text" [(ngModel)]="nominations[2].religion"  #religion="ngModel" placeholder="Enter Religion" name="religion" required>
    <div class="error-msg" *ngIf="religion.touched && !religion.valid">*Field is Required</div>

    <label for="mar_status">Marital Status</label>
    
    <select name="mar_status" id="mar_status" [(ngModel)]="nominations[2].marital_status"  #mar_status="ngModel" required>
      <option value="Unmarried">Unmarried</option>
      <option value="Married">Married</option>
      <option value="Widow">Widow</option>
      <option value="Widower">Widower</option>
    </select>
    <div class="error-msg" *ngIf="mar_status.touched && !mar_status.valid">*Field is Required</div>

    <label for="dob">Date of Birth</label>
    <input type="date" name="dob" [value]="nominations[2].dOB"  #dob="ngModel" required>
    <!--
    <div class="error-msg" *ngIf="dob.touched && !dob.valid">*Field is Required</div>
    -->
      
    <label for="address">Permanent Address</label>
    <input type="text" [(ngModel)]="empAddress"  #address="ngModel" placeholder="Enter Address" name="address" required>
    <div class="error-msg" *ngIf="address.touched && !address.valid">*Field is Required</div>

    <label for="date_ex">Date of exclusion of my husband from my family</label>
    <input type="date" name="date_ex" [(ngModel)]="dateEx"  #date_ex="ngModel" required>
    <div class="error-msg" *ngIf="date_ex.touched && !date_ex.valid">*Field is Required</div>

    <label for="wit_sign">First Witness signature</label>
    <input type="file" [(ngModel)]="witSign"  #wit_sign="ngModel" name="wit_sign" required>
    <div class="error-msg" *ngIf="wit_sign.touched && !wit_sign.valid">*Field is Required</div>

    <label for="wit_sign1">Second Witness signature</label>
    <input type="file" [(ngModel)]="witSign1"  #wit_sign1="ngModel" name="wit_sign1" required>
    <div class="error-msg" *ngIf="wit_sign1.touched && !wit_sign1.valid">*Field is Required</div>

    <label for="emp_sign">Signature of Employee</label>
    <input type="file" [(ngModel)]="empSign"  #emp_sign="ngModel" name="emp_sign" required>
    <div class="error-msg" *ngIf="emp_sign.touched && !emp_sign.valid">*Field is Required</div>

    <label for="empr_sign">Signature of Employer</label>
    <input type="file" [(ngModel)]="emprSign"  #empr_sign="ngModel" name="empr_sign" required>
    <div class="error-msg" *ngIf="empr_sign.touched && !empr_sign.valid">*Field is Required</div>

    
    <input type="submit" value="Submit">
  </form>
</div>